/target
.DS_Store
/lichess_reference_files
/python/.venv
/python/benches/test_suites
/python/benches/tournament_stdouts
/python/benches/tournament_stderrs
/python/benches/tournament_pgns
/python/benches/tournament_configs
/python/benches/tournament_logs
